<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <ion-item button *ngFor="let movie of movies" [routerLink]="['/', 'movies', movie.id]">
      
      <ion-avatar slot="start">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
      </ion-avatar>

      <ion-label>
        <h3>{{movie.title}}</h3>
        <p style="color: gray">{{movie.release_date}}</p>
      </ion-label>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>